html{
    height: 100%;
}

.hero{
    width: 100vw;
    height: 100vh;
    background-image: url(../images/heroimage.jpeg);
    background-size: 1090px 1080px;
    background-position: center;
    background-repeat: no-repeat;

    
}
.sidenav {

    background-color: #C2DBD7;
    height: 100%;
    width: 30%;
    text-align: center;
    display: inline;
}

img{
    padding: 30px;
    text-align: center;
    
}
li{
    list-style-type: none;
    padding: 25px;
    font-size: 125%;
    font-family: sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.hero-inner{
    margin-top: 30%;
    margin-left: 50%;

}
h1{
    font-size: xx-large;
    margin-top: 0;
    margin-bottom: 0.5em;
    }
h2{
    width: 500px;
    font-size: 150%;
    font-family: sans-serif;
    font-weight: 100;
 
}


body{
    display: flex;
    height: 100%;
}